*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
  content:"";
  display: table;
  clear: both;
}

.container{
  width: 80%;
  margin: 0 auto;
}

/* Header */
.logo{
  margin-top: 40px;
  margin-bottom: 20px;
}

.dimensione-logo{
  width: 150px;
  padding: 5px;
  border-right: 1px solid lightgrey;
}

nav{
  height: 70px;

  margin-bottom: 20px;
}

nav li{
  list-style: none;
  display: inline;
}

nav li a{
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  padding-right: 10px;
}

nav li a:hover{
 color: coral;
}

.banner {
  height: 650px;
  background: url(img/banner.jpg) center;
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 20px;
}

.opaco-banner{
  height: 650px;
  border-radius: 10px;
  background-color: rgba(30, 30, 30, 0.20);
}

.testo-banner {
  padding-top: 400px;
  padding-left: 40px;
  padding-bottom: 60px;
  padding-right: 400px;
  color: white;
}

.testo-banner h1{
  font-size: 40px;
}

.testo-banner p{
  font-size: 18px;
}

/* /Header */

/* Main */
main{
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.title{
  height: 100px;
  margin-bottom: 20px;
}

.title h1{
  font-size: 40px;
}

.title span{
  font-size: 20px;
  color: grey;
}

.col{
  float: left;
}

.col-left, .col-right{
  width: 20%;
}

.col-center{
  width: 56%;
  margin: 0 2%;
}

.img-sx, .img-center, .img-dx{
  height: 250px;
  margin: auto;
  border-radius: 10px;
}

.img-sx{
  background-image: url(img/img-1.jpg);
  background-position: center;
}

.img-center{
  background-image: url(img/banner-2.jpg);
  background-size: cover;
  background-position: center;
}

.img-dx{
  background-image: url(img/img-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.opaco{
  height: 250px;
  background-color: rgba(30, 30, 30, 0.20);
  border-radius: 10px;
}

.col h2{
  line-height: 60px;
}

.col p{
  color: #A8A8A8;
}
/* /Main */

/* Footer */
footer{
  height: 100px;
  text-align: center;
}

footer span::after {
  content: ' \2764';
  color: red;
}
/* /Footer */